              <style>
               a {
                   color: inherit;
                   text-decoration: none;
                   background-color: inherit;
                   /* Otros estilos personalizados */
               }

               a:hover {
                   text-decoration: none; /* Quita el subrayado al colocar el cursor encima */
                   color: inherit; /* Mantiene el color del texto al colocar el cursor encima */
                   background-color: inherit; /* Mantiene el color de fondo al colocar el cursor encima */
                   /* Otros estilos personalizados al colocar el cursor encima */
               }
           </style>

<main class="index">
{{#if (gt (length projects) 0)}}
  <div class="container-fluid">
    <div class="row">
      {{#each projects}}
        <div class="col-md-6">
          <a href="/projectDetails/{{id}}?title={{title}}&description={{description}}&evolved={{evolved}}&threat={{threat}}&state={{state}}&creation_date={{creation_date}}">
            <div class="card text-center">
              <div class="card-body">
                <div>
                  <img src="/uploads/{{image}}" alt="Imagen del Proyecto" class="project-image">
                </div>
                <h1 class="card-title text-uppercase">
                  {{title}}
                </h1>
                <p class="m-2">Involucrados: {{evolved}}</p>
                <p class="m-2">Fecha de creación: {{timeago creation_date}}</p>
              </div>
            </div>
          </a>
        </div>

        {{#if (isOddIndex @index)}}
          </div>
          <div class="row">
        {{/if}}
      {{/each}}
    </div>
  </div>
{{else}}
  <div class="container p-4">
    <div class="row-4">
      <div class="col-md-4 mx-auto">
        <div class="card card-body text-center">
          <p class="text-danger">Aún no hay proyectos guardados</p>
        </div>
      </div>
    </div>
  </div>
{{/if}}
</main>
